NEXT_PUBLIC_SUPABASE_URL=https://tcohyegmlbluewpnlkrx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjb2h5ZWdtbGJsdWV3cG5sa3J4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2MTk2MDcsImV4cCI6MjA3ODE5NTYwN30.L96x8wIbe5q3Em9wzOjVBS6a0jQecRDQP6ATLzHqfyA